In [62]:
import re
import pandas as pd

<h3 style="color: #001a79;">Exercise 1</h3>

<hr style="border-top: 1px solid #001a79;" />

Write a Python function to remove all non-alphanumeric characters from a string.

<hr style="border-top: 1px solid #001a79;" />

<h2 style="color: rgb(0, 91, 94);">Answer 1</h2>

<hr style="border-top: 1px solid rgb(0, 91, 94);" />

In [160]:
# A string to be manipulated.
original = 'Test T3st Te$t 7est Test TÂ£s! 1234Test####Test'

# Using fingiter to find all non overlapping matches
matches = re.finditer(r'[\w ]+', original)

# Setting up a blank output string
output = ""
    
# Appending all matched strings to the output string
for match in matches:
    output += match.group()

print(output)

Test T3st Tet 7est Test Ts 1234TestTest

<h3 style="color: #001a79;">Exercise 2</h3>

<hr style="border-top: 1px solid #001a79;" />

Adapt the above code to capitalise the first letter of the iris species, using regular expressions.

<hr style="border-top: 1px solid #001a79;" />

<h2 style="color: rgb(0, 91, 94);">Answer 2</h2>

<hr style="border-top: 1px solid rgb(0, 91, 94);" />

In [154]:
# Could not figure this one out using Regex .sub so instead I used a pandas database and the .upper function

In [155]:
# Loading data from CSV file
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'FlowerClass'])

# looking at database
print(iris)

     SepalLength  SepalWidth  PetalLength  PetalWidth     FlowerClass
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [156]:
# Taking the flower names into its own list as this is easier to work with
flower = iris['FlowerClass']

# Creating an empty list for the updated flower names to be put into
CorrectedFlower = []

print(flower)

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: FlowerClass, Length: 150, dtype: object

In [157]:
for row in flower:
    # Making sure Python interprets this as a string, because above it was dtype: object
    rowStr = str(row)
    # Cutting off the first 5 charracters "Iris-"
    lower = rowStr[5:]
    # Taking the first charracter and applying the .upper() function, then adding back the rest of the charracters
    upper = lower[0].upper() + lower[1:]
    # Appending this back into the corrected list
    CorrectedFlower.append(upper)

In [158]:
# Updating the database with the new corrected list
iris['FlowerClass'] = CorrectedFlower

In [159]:
# End result
print(iris)

     SepalLength  SepalWidth  PetalLength  PetalWidth FlowerClass
0            5.1         3.5          1.4         0.2      Setosa
1            4.9         3.0          1.4         0.2      Setosa
2            4.7         3.2          1.3         0.2      Setosa
3            4.6         3.1          1.5         0.2      Setosa
4            5.0         3.6          1.4         0.2      Setosa
..           ...         ...          ...         ...         ...
145          6.7         3.0          5.2         2.3   Virginica
146          6.3         2.5          5.0         1.9   Virginica
147          6.5         3.0          5.2         2.0   Virginica
148          6.2         3.4          5.4         2.3   Virginica
149          5.9         3.0          5.1         1.8   Virginica

[150 rows x 5 columns]

References

re.finditer : https://www.pythontutorial.net/python-regex/python-regex-finditer/